/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
button {
	font-size: 62.5%;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight: 500;
	color: #333;
}

body {
	background-color: #F6F5F4;
	font-size: 1.4rem;
	color: #231815;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.header {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	a {
		text-decoration: none;
		color: #231815;
		&:hover {
			//			color: #007656;
			opacity: 0.6;
		}
	}
	#logo {
		float: left;
		width: 360px;
		padding: 46px 0 0 0;
		margin: -10px 0 0 0;
	}
	#link {
		float: right;
		width: 433px;
		height: 90px;
		position: relative;
		display: block;
		background: url(../images/common/header_bg.gif) no-repeat top right;
		margin: 0;
		padding: 0;
		.tel {
			position: absolute;
			width: 199px;
			height: 16px;
			display: block;
			top: 39px;
			right: 136px;
		}
		.contact {
			position: absolute;
			width: 136px;
			display: block;
			top: 39px;
			right: 0px;
			font-size: 1rem;
			color: #007656;
			border: 1px solid #007656;
			@include border-radius(2px);
			text-decoration: none;
			padding: 0.25em;
			text-align: center;
			&:before {
				content: "▶";
			}
		}
		ul {
			position: absolute;
			bottom: 12px;
			right: 0;
			li {
				display: inline-block;
				float: left;
				font-size: 1rem;
				margin-left: 2em;
				//				a {
				//					text-decoration: none;
				//					color: #231815;
				//				}
				&:last-child a:before {
					content: "▶";
				}
			}
		}
	}
}

.contents {
	background-color: #fff;
	padding: 3em;
	position: relative;
	display: block;
}

.footer {
	p {
		font-size: 1rem;
		margin: 3.5em 0;
		color: #b4b4b4;
	}
}

//会員登録ボックス
.member {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3em;
	ul {
		li {
			display: inline-block;
			float: left;
			margin-left: 2rem;
			a {
				text-decoration: none;
				color: #fff;
				padding: 1rem 1rem 0.8rem;
				width: 120px;
				position: relative;
				&.register {
					background-color: #1c74c9;
					box-shadow: 0 3px 0 #092745;
					&:hover {
						opacity: 0.8;
						top: 3px;
						margin-top: 3px;
						box-shadow: 0 0 0 #092745;
					}
				}
				&.login {
					background-color: #007656;
					box-shadow: 0 3px 0 #012c20;
					&:hover {
						opacity: 0.8;
						top: 3px;
						margin-top: 3px;
						box-shadow: 0 0 0 #012c20;
					}
				}
				//				&:hover {
				//					opacity: 0.8;
				//				}
				i {
					margin-right: 0.5rem;
				}
			}
		}
	}
}

//見出し・文字
.title-level1 {
	font-size: 2.4rem;
	margin: 0 0 2rem 0;
	&:before {
		content: '〈';
		margin-right: 1rem;
		margin-left: -1rem;
	}
	&:after {
		content: '〉';
		margin-left: 1rem;
	}
}

.title-level2 {
	font-size: 2.4rem;
	margin: 3rem 0;
	padding: 1rem;
	background-color: #437769;
	color: #fff;
}

.title-level3 {
	font-size: 2.0rem;
	margin: 3rem 0;
	padding: 1rem;
	border-bottom: 1px solid #437769;
}

.title-level3s {
	font-size: 2.0rem;
	margin: 3rem 0;
	padding: 1rem;
	border-bottom: 1px solid #437769;
	border-left: 10px solid #437769;
}

.title-level4 {
	font-size: 1.6rem;
	color: #fff;
	margin: 3rem 0;
	padding: 0.6rem 2rem;
	background-color: #437769;
	@include border-radius(3px);
	display: inline-block;
}

.lead {
	font-size: 1.6rem;
	font-weight: bold;
}

p {
	margin: 2rem 0;
	line-height: 1.4;
}

small {
	font-size: 80%;
}

a {
	text-decoration: none;
	color: #231815;
	&:hover {
		color: #007656;
		img {
			opacity: 0.8;
		}
	}
}

.error_message {
	color: #de5d50;
	line-height: 1.4;
}

//レイアウト
.item-list {
	display: inline-block;
	width: 100%;
	.card {
		position: relative;
		background-color: #fff;
		border: 1px solid #ccc;
		transition: box-shadow .25s;
		@include border-radius(2px);
		display: inline-block;
		width: 23.5%;
		margin-left: 2%;
		margin-bottom: 3%;
		float: left;
		&:nth-child(4n+1) {
			margin-left: 0;
		}
		.card-image {
			img {
				width: 100%;
				height: auto;
			}
		}
		.card-content {
			padding: 20px;
			border-radius: 0 0 2px 2px;
			.title {
				padding-bottom: 20px;
				font-weight: bold;
				font-size: 1.6rem;
			}
		}
		.card-footter {
			position: relative;
			background-color: inherit;
			border-top: 1px solid rgba(160, 160, 160, 0.2);
			padding: 20px;
			z-index: 2;
		}
	}
}

.block-2 {
	display: inline-block;
	width: 100%;
	.box {
		width: 48%;
		margin-left: 4%;
		margin-bottom: 4%;
		float: left;
		position: relative;
		&:nth-child(2n+1) {
			margin-left: 0;
		}
		.detail {
			height: 100%;
		}
		h3 span {
			margin: 0;
		}
		&.card {
			border: 1px solid #ccc;
			padding: 2rem;
		}
	}
}

.block-2-64 {
	display: inline-block;
	width: 100%;
	.box {
		width: 38.4%;
		margin-left: 4%;
		margin-bottom: 4%;
		float: left;
		position: relative;
		&:nth-child(2n+1) {
			width: 57.6%;
			margin-left: 0;
		}
		.detail {
			height: 100%;
		}
		&.card {
			border: 1px solid #ccc;
			padding: 2rem;
			input {
				margin-bottom: 2rem;
			}
		}
	}
}

.block-2-none {
	display: inline-block;
	width: 100%;
	margin-bottom: 3rem;
	.box {
		width: 57.6%;
		margin: 0 auto;
		.detail {
			height: 100%;
		}
		&.card {
			border: 1px solid #ccc;
			padding: 2rem;
			input {
				margin-bottom: 2rem;
			}
		}
	}
}

//商品詳細
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 1.4rem;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-s {
	position: relative;
	display: inline-block;
	background-color: #F5F7F8;
	border: 1px solid #ccc;
	margin-bottom: 0;
	margin-left: 2rem;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	padding: 0.3rem 1rem;
	font-size: 1.0rem;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 1px 0 #bebebe;
	&:hover {
		top: 1px;
		box-shadow: 0 0 0 #bebebe;
	}
}

.detail {
	.item-name {
		border-bottom: 1px dotted #ccc;
		font-size: 2.4rem;
		padding-bottom: 2rem;
	}
	.item-price {
		border-bottom: 1px dotted #ccc;
		font-size: 1.6rem;
		padding-bottom: 2rem;
		span {
			font-size: 2.4rem;
			color: #DE5D51;
		}
	}
	.item-size {
		border-bottom: 1px dotted #ccc;
		font-size: 1.6rem;
		padding-bottom: 2rem;
	}
	.item-description {
		border-bottom: 1px dotted #ccc;
		font-size: 1.6rem;
		padding-bottom: 2rem;
	}
	.quantity {
		border-bottom: 1px dotted #ccc;
		font-size: 1.6rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		.quantity-name {
			display: inline-block;
			padding: 1.3rem;
			margin-right: 2rem;
			float: left;
		}
	}
	.extra-form {
		border-bottom: 1px dotted #ccc;
		font-size: 1.6rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		.extra-form-name {
			display: inline-block;
			font-weight: bold;
			margin-right: 2rem;
			float: left;
		}
	}
}

.price {
	span {
		color: #c00;
		font-weight: bold;
	}
}

.btn_area {
	display: inline-block;
	width: 100%;
	&.center {
		text-align: center;
	}
	.btn {
		position: relative;
		font-size: 2.2rem;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
		color: #fff;
		background-color: #de5d50;
		border-color: #de5d50;
		padding: 10px 16px 8px;
		box-shadow: 0 3px 0 #7b2b23;
		&.continue {
			border-color: #007656;
			background-color: #007656;
			box-shadow: 0 3px 0 #002a1f;
			&:hover {
				top: 3px;
				box-shadow: 0 0 0 #002a1f;
			}
		}
		&:hover {
			top: 3px;
			box-shadow: 0 0 0 #7b2b23;
		}
	}
	.back-btn {
		font-size:1.6rem !important;//ちょっと強引に文字サイズを変更
	}
	.sub-link {
		li {
			margin-bottom: 1rem;
		}
	}
}

.form-control {
	border: 1px solid #C4CCCE;
	border-radius: 3px !important;
	box-shadow: none;
	font-size: 16px;
	font-size: 1.6rem;
	height: 40px;
	padding: 6px 12px;
	width: auto;
	line-height: 1.5;
}

//カート
.flowline {
	display: inline-block;
	width: 100%;
	ul {
		position: relative;
		margin: 0 auto;
		min-width: 550px;
		z-index: 0;
		&:before {
			content: "";
			height: 2px;
			background: #017656;
			position: absolute;
			top: 14px;
			left: 0;
			right: 0;
			margin: auto;
			border-radius: 2px;
			z-index: -1;
			display: inline-block;
			width: 85%;
		}
		li {
			width: 14.28%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.4;
			float: left;
			.flow_number {
				line-height: 30px;
				width: 30px;
				height: 30px;
				font-size: 20px;
				font-size: 2rem;
				background: #ecf5f3;
				border: 2px solid #017656;
				color: #017656;
				top: 0;
				left: 18px;
				display: inline-block;
				margin-bottom: 5px;
				text-align: center;
				vertical-align: middle;
				@include border-radius(5px);
				z-index: 1;
			}
			&.active {
				.flow_number {
					background: #017656;
					color: #fff;
				}
			}
		}
	}
	&.memberflow {
		ul {
			width: 550px;
			&:before {
				width: 75%;
			}
			li {
				width: 25%;
			}
		}
	}
}

.cart {
	.message {
		text-align: center;
		strong {
			color: #de5d51;
			font-size: 1.6rem;
		}
	}
	.cart_item {
		width: 100%;
		thead {
			tr {
				background-color: #e7f2ef;
				th {
					font-weight: bold;
					padding: 16px;
					text-align: center;
					&:nth-child(1) {
						width: 7%;
					}
					&:nth-child(2) {
						width: 71%;
					}
					&:nth-child(3) {
						width: 12%;
					}
					&:nth-child(4) {
						width: 10%;
					}
				}
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #ccc;
				td {
					padding: 16px;
					font-size: 1.6rem;
					//					&:nth-child(1){
					//						width: 7%;
					//					}
					//					&:nth-child(2){
					//						width: 71%;
					//					}
					&:nth-child(3) {
						//						width: 12%;
						.form-control {
							width: 100%;
						}
					}
					&:nth-child(4) {
						//						width: 10%;
						text-align: right;
					}
					.item_photo {
						display: table-cell;
						vertical-align: middle;
						width: 100px;
						padding-right: 20px;
						//						float: left;
						img {
							width: 100%;
							height: auto;
						}
					}
					.item_detail {
						display: table-cell;
						vertical-align: middle;
						width: 400px;
						.item_name {
//							margin-bottom: 10px;
							float: left;
							margin-right: 2rem;
							a {
								text-decoration: none;
							}
						}
					}
					&.item_quantity {
						text-align: center;
					}
					&.item_subtotal {
						text-align: right;
					}
				}
			}
		}
	}
	&.confirm {
		.cart_item {
			thead {
				tr {
					th {
						&:nth-child(1) {
							width: 78%;
						}
						&:nth-child(2) {
							width: 12%;
						}
						&:nth-child(3) {
							width: 10%;
//							text-align: right;
						}
					}
				}
			}
		}
		.box {
			margin-bottom: 0;
		}
	}
	.item_message {
		background-color: #ffd8d8;
		padding: 2rem;
		margin: 2rem 0;
		display: inline-block;
		width: 100%;
		.item_name {
			display: inline-block;
			float: left;
			label {
				vertical-align: top;
				display: inline-block;
			}
			span {
				font-size: 1.6rem;
			}
			small {
				margin: 0 2rem;
				display: inline-block;
				line-height: 1.4;
				font-size: 1.4rem;
			}
		}
		.item_price {
			text-align: right;
		}
		h2 {
			font-size: 1.6rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}
		#selectBox {
			label {
				display: block;
				&:first-child {
					margin-bottom: 1rem;
				}
				&:nth-child(2) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	.price-area {
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		text-align: right;
		padding: 2rem 16px 0;
		margin-bottom: 3rem;
		.box {
			&:last-child {
				border-top: 1px dotted #aaa;
			}
			dl {
				display: inline-block;
				min-width: 240px;
				padding: 0.5rem 0;
				dt {
					display: inline-block;
					float: left;
					padding: 0.7rem 0;
				}
				dd {
					text-align: right;
					padding: 0.7rem 0;
				}
			}
			.item-all-price {
			}
			.discount {
				.text-primary {
					font-weight: bold;
				}
			}
			.shipping {
			}
			.total_price {
				dt {
					padding: 1.2rem 0;
				}
				.text-primary {
					color: #de5d50;
					text-align: right;
					font-size: 2.4rem;
				}
			}
		}
	}
	.total_box {
		
		
		
		
		
	}
	.btn_area {
		.btn {
			font-size: 1.6rem;
			margin-bottom: 2rem;
			min-width: 256px;
		}
	}



}
.dl_table {
	border-bottom: 1px solid #ccc;
	display: table;
	width: 100%;
	dt {
		width: 30%;
		display: table-cell;
		vertical-align: middle;
	}
	
	dd {
		display: table-cell;
		padding: 16px;
	}
	
	&:last-of-type {
		margin-bottom: 3rem;
	}
}
span.required {
	display: inline-block;
	color: #fff;
	background-color: #DE5D50;
	@include border-radius(2px);
	font-weight: normal !important;
	padding: 2px 2px 3px 5px;
	margin-left: 1em;
	font-size: 10px;
	font-size: 1rem;
	letter-spacing: 0.5rem;
	vertical-align: top;
}
.form-group {
	.form-control {
		width: 100%;
	}
	
	.column textarea {
		width: 100%;
		height: 6em;
	}
	
	&.form-inline {
		input {
			display: inline-block;
			margin-left: 1%;
			margin-right: 1%;
			max-width: 5em;
			vertical-align: middle;
			width: 30%;
			margin-bottom: 0;
		}
	}
	
	.form-group {
		margin-bottom: 1.5rem;
		select {
			width: auto;
		}
	}
	
	.radio {
		margin-bottom: 1.5rem;
	}
	
	input {
		margin-bottom: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
#selectBox {
	margin: 1rem 0 3rem;
	label {
		margin-right: 3rem;
	}
}
a.box.card {
	text-decoration: none;
	color: #333;
	padding: 1rem 1rem 0.8rem;
	position: relative;
	background-color: #ededed;
	box-shadow: 0 3px 0 #aaa;
//	border: none !important;
	&:hover {
		opacity: 0.8;
		top: 3px;
		margin-top: 0;
		box-shadow: 0 0 0 #aaa;
	}
}
.withdrawal {
//	text-decoration: none;
//	color: #fff;
//	padding: 1rem 1rem 0.8rem;
//	position: relative;
//	background-color: #a73b3b;
//	box-shadow: 0 3px 0 #aaa;
//	border: none !important;
//	font-size: 1.4rem;
//	&:hover {
//		opacity: 0.8;
//		top: 3px;
//		margin-top: 0;
//		box-shadow: 0 0 0 #aaa;
//	}
	margin: 0 0.5rem 0 0;
	background-color: #334;
	border: none;
	color: #fff;
	padding: 3px 10px;

}
.text-right {
	text-align: right;
}.text-center {
	text-align: center;
}
.order-list {
	th {
		background-color: #e7f2ef;
		font-weight: bold;
		padding: 16px;
		text-align: center;
	}
	tbody {
		tr {
			border-bottom: 1px solid #ccc;
			td {
				padding: 1rem;
				&:nth-child(1){
					text-align: center;
				}
				&:nth-child(3){
					text-align: center;
				}
				&:nth-child(4){
					text-align: center;
				}
			}
		}
	}
	width:100%;
	.item_detail {
		margin: 0.5rem 0;
		.item_name {
			display: inline-block;
			float: left;
		}
	}
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	li {
		display: inline;
		>a,
		>span {
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			line-height: 1.42857143;
			color: #437769;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #ddd;
			&:focus,&:hover {
				z-index: 2;
				color: #23527c;
				background-color: #ecf0e8;
				border-color: #ddd;
			}
		}
		&.active {
			>a,>span {
				z-index: 3;
				color: #fff;
				cursor: default;
				background-color: #437769;
				border-color: #437769;
			}
		}
	}

	>.disabled {
		>a,>span {
			&:focus,&:hover {
				color: #777;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
			}
		}
	}

}
.caution {
	color:#F00;
}