h1 {
	margin:.6rem 1rem;
	font-size:1.2rem;
	font-weight: bold;	
}
.form input {
    margin-bottom: 0;
}
.form .input {
    margin-bottom: 1rem;
}
.form .description-message,
.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.54);
}

.form .error-message {
    font-style: italic;
    color: #C3232D;
}

.index table,
.related table,
table {
    table-layout: auto;
}

.date select,
.time select,
.datetime select {
    padding-right: 30px;
}
.date select + span,
.time select + span,
.datetime select + span {
    margin-right: 10px;
}
.container a {
    text-decoration: underline;
}
.container th {
    white-space: nowrap;
}
.actions a {
    line-height: 1.8;
    white-space: nowrap;
}

#add-product th {
    padding: 0;
    border-bottom: none;
    color: #222;
    text-align: right;
}
#add-product td {
    vertical-align: middle;
}
#add-product td input,
#add-product td .input,
#add-product td select,
#add-product td .select {
    margin-bottom: 0;
}
#add-product td [type="number"] {
    text-align: right;
}
#add-product td [type="button"],
#products td [type="button"] {
    margin-bottom: 0;
    padding: 0.5rem;
    height: 2.3125rem;
    font-size: 0.875rem;
}
.button.clear {
    background-color: #ccc;
    text-decoration: none;
}