.header #link {
    background: url(../../img/offering/common/header_bg.gif) no-repeat top right;
}
.form-group.form-inline input {
	max-width: 7em;
	width: 38% !important;
}
.error-message {
	margin-top: 0.6rem;
	font-size: 1.2rem;
	color: #de5d50;
}
.cart .item_message #selectBox label {
	margin-bottom: 1rem;
}
#payment label {
	display: block;
	margin-bottom: 1.5rem;
}
#leave {
	margin: 0 0.5rem 0 0;
	background-color: #334;
	border: none;
	color: #fff;
	padding: 3px 10px;
}
.form-group .error-message:nth-of-type(1) {
	margin-top:-0.5rem;
	margin-bottom:1rem;
}